.databases-container {
    padding: 20px;
}

.database-list {
    list-style: none;
    padding: 0;
}

.database-item {
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
}

.database-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.database-link:hover {
    color: #0056b3;
}

.database-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.edit-button:hover {
    background: #0056b3;
}

.edit-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit-input {
    padding: 10px;
    background-color: #cacaca;
    flex-grow: 1;
}

.modify-buttons {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#save-button {
    background: #28a745;
}

#save-button:hover {
    background: #218838;
}
#cancel-button {
    background: #888081;
}

#cancel-button:hover {
    background: #6b6767;
}

#delete-button{
    background: #dc3545;
}

#delete-button:hover {
    background: #c82333;
}