#file-upload-div {
    color: #ffffff;
    border: 2px dashed #5fa5ef;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: #444;
    transition: background 0.3s ease;
}

#file-upload-div:hover {
    background: #3b3b3b;
    border-color: #007bff;
  }
  
button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background: #ccc;
}
